<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Leaderboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="leaderboard-content">
  <div class="leaderboard-container">
    <div class="table-header">
      <span class="rank-col">Rank</span>
      <span class="username-col">Username</span>
      <span class="score-col">Total Score</span>
    </div>

    <div class="table-row">
      <span class="rank-col">1</span>
      <span class="username-col">Filip</span>
      <span class="score-col">45</span>
    </div>

    <div class="table-row">
      <span class="rank-col">2</span>
      <span class="username-col">Ana</span>
      <span class="score-col">40</span>
    </div>

    <div class="table-row">
      <span class="rank-col">3</span>
      <span class="username-col">Nole</span>
      <span class="score-col">38</span>
    </div>

    <div class="table-row">
      <span class="rank-col">4</span>
      <span class="username-col">Marina</span>
      <span class="score-col">34</span>
    </div>
  </div>
</ion-content>
