<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Leaderboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="leaderboard-content">
  <div class="loading" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
    <p>Loading leaderboard...</p>
  </div>

  <div class="leaderboard-container" *ngIf="!isLoading">
    <div class="table-header">
      <span class="rank-col">Rank</span>
      <span class="username-col">Username</span>
      <span class="score-col">Total Score</span>
    </div>

    <div class="table-row" *ngFor="let user of users">
      <span class="rank-col">{{user.rank}}</span>
      <span class="username-col">{{user.username}}</span>
      <span class="score-col">{{user.totalScore}}</span>
    </div>

    <div class="empty-state" *ngIf="users.length === 0">
      <p>No users yet.</p>
    </div>
  </div>
</ion-content>
