<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content">
  <div class="profile-container">
    <div class="avatar-section">
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar" class="avatar">
    </div>

    <h1 class="username">{{username}}</h1>

    <div class="stats-section">
      <div class="stat-item">
        <span class="stat-label">Total Score</span>
        <span class="stat-value">{{totalScore}}</span>
      </div>

      <div class="stat-item">
        <span class="stat-label">Quizzes Played</span>
        <span class="stat-value">{{quizzesPlayed}}</span>
      </div>

      <div class="stat-item">
        <span class="stat-label">Best Score</span>
        <span class="stat-value">{{bestScore}} / 5</span>
      </div>
    </div>
  </div>
</ion-content>
